/*
 * This CSS file contains the style information for the site.
 */


/*
 * The following CSS is the style information for the base template,
 * navbar and footer.
 */

#delete {
    color: black
}

#delete:hover {
    color: red;
}

.quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

#content {
    margin-bottom: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(164, 242, 242);
    color: inherit;
}

.content {
    flex: 1;
    padding-left: 3%;
    padding-right: 3%;
}

.navbar {
    background-color: #ccc;
    color: inherit;
    padding: 0px;
    font-size: larger;
}

.navbar .btn {
    padding: 6px 12px !important;
}

.navbar a:not(.navbar-brand) {
    padding: 5px 5px;
    text-wrap: nowrap;
}

#navbarsearch {
    padding: 5px 0px;
}

.navbar a:not(.navbar-brand):hover {
    border-radius: 3px;
    background-color: #999;
    color: inherit;
    text-decoration: underline;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item {
        border-right: 1px solid #999;
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-nav .nav-item:last-child {
        border-right: none; /* Remove border from last item */
    }
}

/*
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}*/

#submit{
    background-color: rgb(33,150,243);
    color: white;
    /*width: 50%;*/
    padding: 5px;
}

.footer {
    border-radius: 10px;
    flex-shrink: 0;
    height: 100px;
}

.footer .nav-item *:hover {
    text-decoration: underline;
}


/*
 * The following CSS represents the styles for the posts
 * (as displayed on the home page, etc)
 */
.post {
    background-color: white;
    color: inherit;
    outline: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.post:hover {
    background-color: lightgrey;
    color: inherit;
    outline: 3px solid darkslategrey;
    cursor: pointer;
}

.post > img {
    display: block;
    margin: auto;
    border-radius: 2%;
}

.post > .name {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.post:hover > .name {
    text-decoration: underline;
}

.post > p {
    white-space: pre;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    .post {
        width: 75% !important;
    }
}

/*
 * The following contains the CSS for the profile page.
 */
.profile-post-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profile-post {
    border: #2196F3;
    border-style: solid;
    padding: 1%;
}

/*
 * The following is the CSS for the contact form.
 */

 .contact-form-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.contact-row {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.contact-submit {
    padding-top:1rem; 
    padding-right:20px; 
    float:right;
}

.row-buffer { 
    margin-top:10px; 
}

/*
 * The following CSS is for the about page.
 */
 .about-section {
    padding-top:25px;
    padding-bottom:25px;
    display: flex;
    align-items: center;
}

.about-img {
    display: block;
    margin: auto;
}

.about-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .about-text {
        max-width: 75%;
    }
    .about-img {
        max-width: 75%;
    }
}

@media (min-width: 768px) {
    .about-text {
        max-width: 30%;
    }
    .about-img {
        max-width: 50%;
        top: 50%;
    }
}

.newhometext {
    background-color: inherit;
    color: rgb(33,150,243) !important;
    font-weight: bold;
    text-decoration: none;
}

.small-post {
    width: 250px;
    height: 250px;
    padding: 10px;
    cursor: zoom-in;
}
.item-information {
    float: right;
    margin: 20px;
    padding: 20px;
    width: 30%;
    height: auto;
    word-wrap: break-word;
    border-width: 8px;
    border-style: groove;
    border-color: #3498db;
}
.replies-box {
    margin-top: 20px;
}
.reply-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.reply-item p {
    margin: 5px 0;
}
.reply {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word
}