/*
This CSS file contains the style information for the navbar and footer.
*/

.navbar {
    background-color: #ccc;
    padding: 0px;
    font-size: larger;
}

.navbar .btn {
    padding: 6px 12px !important;
}

.navbar a:not(.navbar-brand) {
    padding: 5px 5px;
    text-wrap: nowrap;
}

#navbarsearch {
    padding: 5px 0px;
}

.row-buffer { margin-top:10px; }

.navbar a:not(.navbar-brand):hover {
    border-radius: 3px;
    background-color: #999;
    text-decoration: underline;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item {
        border-right: 1px solid #999;
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-nav .nav-item:last-child {
        border-right: none; /* Remove border from last item */
    }
}



#content {
    margin-bottom: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
    padding-left: 3%;
    padding-right: 3%;
}

.footer {
    flex-shrink: 0;
    height: 100px;
}

.footer .nav-item *:hover {
    text-decoration: underline;
}


.profile_post_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.profile_post {
    border: #2196F3;
    border-style: solid;
    padding: 1%;
}
.contactformmain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
.contactrow {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.contactsubmit {
    padding-top:1rem; 
    padding-right:20px; 
    float:right;
}


.aboutsection {
    padding-top:25px;
    padding-bottom:25px;
}

.aboutimg {
    display: block;
    margin: auto;
}
.abouttext {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .abouttext {
        max-width: 75%;
    }
    .aboutimg {
        max-width: 75%;
    }
}
@media (min-width: 768px) {
    .abouttext {
        max-width: 30%;
    }
    .aboutimg {
        max-width: 50%;
        top: 50%;
    }
}

.newhometext {
    color: rgb(33,150,243) !important;
    font-weight: bold;
}

.anItem {
    background-color: white;
    outline: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.anItem:hover {
    background-color: lightgrey;
    outline: 3px solid darkslategrey;
    cursor: pointer;
}
.anItem > img {
    display: block;
    margin: auto;
    border-radius: 2%;
}
.anItem > .name {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.anItem:hover > .name {
    text-decoration: underline;
}
.anItem > p {
    white-space: pre;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 576px) {
    .anItem {
        width: 75% !important;
    }
}
