{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
<style>
.aboutimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 576px) {
    .aboutimg {
        max-width: 75%;
    }
}
@media (min-width: 576px) {
    .aboutimg {
        max-width: 50%;
    }
}
.section {
    padding-top:25px;
    padding-bottom:25px;
}
.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}
@media (max-width: 576px) {
    .text {
        max-width: 75%;
    }
}
@media (min-width: 576px) {
    .text {
        max-width: 30%;
    }
}
</style>
{% endblock %}
{% block content %}
<div class="row section">
    <div class="text col-md-6">
        <h2>Our Vision</h2>
        <p>We aim to create a community-driven platform where individuals are able to</p>
        <ul>
            <li>Connect with others</li>
            <li>Give freely, and</li>
            <li>Freely receieve,</li>
            <li>Share resources, and</li>
            <li>Foster a culture of generosity, sustainability, and interconnectedness.</li>
        </ul>
        <p>We envision a world where every item has value and every act of giving strengthens bonds within neighbourhoods, reduces waste, promotes environmental stewardship, and cultivates a sense of belonging.</p>
    </div>
    <div class="col-md-6">
        <img class="aboutimg" src="/static/assets/aboutgraphic.png"/>
    </div>
</div>

<div class="row section">
    <div class="col-md-6">
        <img class="aboutimg" src="/static/assets/aboutgraphic.png"/>
    </div>
    <div class="text col-md-6 order-first order-md-1">
        <h2>Our Story</h2>
        <p>Lorem ipsum blah blah blah</p>
    </div>
</div>

<div class="row section">
    <div class="text col-md-6">
        <h2>What we offer</h2>
        <p>At <a style="color: rgb(33,150,243); font-weight: bold;">NewHome</a>, we offer a user-friendly platform where users can give and receive freely, and foster community relations. Members can easily connect with others to find and offer items ranging from household goods to electronics to clothing. Anything given a new home is a reduction of our joint carbon footprint.</p>
        <p>Our website provides a place for acts of kindness, where members can declutter their homes, but also help others in finding items of use to them. We empower communities to embrace a conscious effort to reduce waste and promote sustainability.</p>
        <p>Whether you're in search of a specific item, or looking to give back, <a style="color: rgb(33,150,243); font-weight: bold;">NewHome</a> creates a welcoming and inclusive environment for all. Come join us in creating a better world.</p>
    </div>
    <div class="col-md-6">
        <img class="aboutimg" src="/static/assets/aboutgraphic.png"/>
    </div>
</div>
{% endblock %}
