<!DOCTYPE html>
<html>
    <head>
        <title>Buy Nothing: Account</title>
    </head>
    <body>
        {{ pageElements["navbar"] | safe }}
        <h1>My Account</h1>
        <h2>Details</h2>
        <span>Username: jimmy_lee89</span><br>
        <h2>Stats</h2>
        <span>Items given: 3</span><br>
        <span>Items taken: 5</span><br>
        <h2>Active Items</h2>
        <table>
            <TR>
                <TD><a href="items/1">Blue Pen</a></TD>
                <TD><img width=100px height=100px src = "data/photos/PXL_20240418_101025993.jpg"></TD>
            </TR>
        </table>
        <h2>Badges</h2>
        <div id="badge-bronze-give">
            <img class="badge" width=100px height=100px src="assets/badges/give-bronze.png"><br>
            <span>BRONZE GIVER</span>
        </div>
        {{ pageElements["footer"] | safe }}
    </body>
</html>