{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
<style>
.contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
.row {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
</style>
<script>
function validateEmail() {
    let email_input = document.forms["contactform"]["email"].value;
    if (/([^\.\s]+\.)*[^\.\s]+@[^\.\s][^\.\s]*(\.[^\.\s]*)*/.test(email_input))
    {
        return (true)
    }
    alert("You have entered an invalid email address!")
    return (false)
}
</script>
{% endblock %}
{% block content %}
<div class="contact">
    <h3>Contact us</h3>
    <form id="contactform" action="{{ url_for('contact') }}" onsubmit="return validateEmail()" method=post>
        <div>
            <!-- name forms -->
            <div class="row">
                <div class="col-md-3">
                    {{ form.name.label }}
                </div><br>
                <div class="col-md-9">
                    {{ form.name(placeholder='Your name', class_="form-control") }}
                </div>
            </div>
            <!-- email forms -->
            <div class="row">
                <div class="col-md-3">
                    {{ form.email.label }}
                </div><br>
                <div class="col-md-9">
                    {{ form.email(placeholder='Your e-mail ...', class_="form-control") }}
                </div>
            </div>
            <!-- Subject of your request -->
            <div class="row">
                <div class="col-md-3">
                    {{ form.subject.label }}
                </div><br>
                <div class="col-md-9">
                    {{ form.subject(placeholder='Subject ...', class_="form-control") }}
                </div>
            </div>
            <!-- Content of your request -->
            <div class="row">
                <div class="col-md-12">
                    {{ form.message(placeholder='Write your request ...', class_="form-control") }}
                </div>
            </div>
            <!-- Submit button -->
            <div class="row" style="padding-top:1rem; padding-right:20px; float:right;">
                {{ form.submit }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
