{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h2>Our Vision</h2>
<p>Lorem ipsum</p>
<img href="https://www.wannapik.com/media/W1siZiIsIjIwMTYvMDgvMjQvNHFuaTBvY3huZl8xMDUzcjBmZ2RvX3ZjMDY2MDIzLnBuZyJdXQ/9f0f4aeb58cedfa3/1053r0fgdo_vc066023.png"/>
<h2>Our Story</h2>
<p>Lorem ipsum</p>
<img href="https://www.wannapik.com/media/W1siZiIsIjIwMTYvMDgvMjQvNHFuaTBvY3huZl8xMDUzcjBmZ2RvX3ZjMDY2MDIzLnBuZyJdXQ/9f0f4aeb58cedfa3/1053r0fgdo_vc066023.png"/>
<h2>What we offer</h2>
<p>Lorem ipsum</p>
<img href="https://www.wannapik.com/media/W1siZiIsIjIwMTYvMDgvMjQvNHFuaTBvY3huZl8xMDUzcjBmZ2RvX3ZjMDY2MDIzLnBuZyJdXQ/9f0f4aeb58cedfa3/1053r0fgdo_vc066023.png"/>


{% endblock %}
