<!-- Render each item to the page -->
<div class="row d-flex justify-content-center" id="mainContent">
    {% for post in posts %}
    <div class="post col-lg-2 col-md-3 col-sm-5 col-xs-6" id="{{post.id}}" onclick="openItemPage(event, {{ post.id }});">
        <p>{{post.post_type}}</p>
        <!-- If the image wasn't passed, render the default -->
        <div class="d-flex align-items-center w-100" style="aspect-ratio:1/1;">
            <img class="img-fluid mx-auto d-block align-middle mw-100 mh-100"
                {% if post.images.src %}
                    src='{{ post.images.src }}'
                    alt="{{ post.item_name }}"
                {% else %}
                    src="{{ '/static/placeholder.png' }}"
                    alt="Missing Image"
                {% endif %}>
            </div>
        <p class="name">{{post.item_name}}</p>
        <p>Located in {{post.author.address.city}}, {{post.author.address.postcode}}</p>
        {% if page != "user" %}
            <p class="d-none d-xl-block">Posted by {{post.author.username}}</p>
        {% endif %}
        <p class="text-end">{{ calcTimeAgo(post.timestamp) }}</p>
    </div>
    {% endfor %}
</div>