{% extends "base.html" %}
{% block title %}Item Information - New Home{% endblock %}
{% block content %}
<head>
    <style>
        .small-post {
            width: 80px;
            height: 80px;
            padding: 10px;
        }
        .item-information {
            float: right;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        // Enlarges the post when clicked
        function enlargepost(img) {
            img.style.width = "40%";
            img.style.height = "auto";
            img.style.transition = "width 0.5s ease";
        }
        // Function to handle the request button click
        function requestItem(button) {
            // Toggle button text
            if (button.innerText === "I want this item!") {
                button.innerText = "Item requested! Please wait for uploader to respond";
            }
        }
        //Adapted from https://stackoverflow.com/a/16849202 and https://stackoverflow.com/a/49334973:
        function deletePost(e)
            {
                if(confirm('Do you want to delete this post?')) {
                    $.getJSON("/delete_post/{{post.id}}",
                        function(data) {});
                    window.location.href = "/";
                }
            }
    </script>
</head>

<div class="item-container">
    {% if post %}
        <!-- Display item posts -->
        {% if post.images %}
            <img src="{{ post.images.src }}" alt="Item post" class="small-post" onclick="enlargepost(this)">
        {% else %}
            <img src="{{ url_for('static', filename='placeholder.png') }}" alt="Placeholder Image" class="small-post" onclick="enlargepost(this)">
        {% endif %}
        <!-- Display item information -->
        <div class="item-information" id="item-info">
            <div class="description-border"></div>
                <h2>Item Information</h2>
                <p><strong>Name:</strong> {{ post.item_name }}</p>
                <p><strong>Description:</strong> {{ post.desc }}</p>
                <p><strong>Posted By:</strong> {{ post.author.username }}</p>
                <p><strong>Item Type:</strong> {{ post_type }}</p>
                {% if post.author == current_user %}
                <i id = "delete" class="bi bi-trash" onclick="deletePost(event)"></i>
                {% else %}
                <!-- Button to request the item -->
                <button id="requestButton" onclick="requestItem(this)">I want this item!</button>
                {% endif %}
            </div>
        </div>
    {% else %}
    <h3>Error in loading item</h3>
    <p>No item information available for item ID: {{ itemID }}</p>
    {% endif %}
</div>
{% endblock %}
