<!DOCTYPE html>
<html lang="en">
    <head>
        <!--set encoding to UTF-8-->
        <meta charset="UTF-8">
        <!--webpage settings, how web page is seen-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--link to layout of webpage in style.css-->
        <link rel="stylesheet" type="text/css" href="./style.css">
        <title>Item Information</title>
    </head>

    <body>
        {{ pageElements["navbar"] | safe }}
        <!-- content for the item image and information -->
        <img src="book.jpg" alt="Item Image" id="item-image">
        <div class="item-info" id="item-info">
            <h2>Item Information</h2>
            <p><strong>Name:</strong> Item Name</p>
            <p><strong>Description:</strong> Item Description</p>
        </div>

        <script src="items.js"></script>
        {{ pageElements["footer"] | safe }}
    </body>
</html>