{% extends "base.html" %}
{% block title %}Item Information - New Home{% endblock %}
{% block content %}
<head>
    <style>
        .small-image {
            width: 80px;
            height: 80px;
            padding: 10px;
        }
        .item-information {
            float: right;
        }
    </style>
    <script>
        // Enlarges the image when clicked
        function enlargeImage(itemId) {
            img = document.getElementById(itemId);
            img.style.width = "40%";
            img.style.height = "auto";
            img.style.transition = "width 0.5s ease";
        }
    </script>
</head>

<div class="item-container">
    {% if post %}
        <!-- Display item image -->
        {% if post.images %}
            <img src="{{ post.images[0].src }}" alt="Item Image" id="item-image" class="small-image" onclick="enlargeImage(this.id)">
        {% else %}
            <!-- Default image if no item image is found -->
            <img src="{{ url_for('static', filename='book.jpg') }}" alt="Default Image" id="item-image" class="small-image" onclick="enlargeImage(this.id)">
        {% endif %}

        <!-- Display item information -->
        <div class="item-information" id="item-info">
            <h2>Item Information</h2>
            <p><strong>Name:</strong> {{ post.item_name }}</p>
            <p><strong>Description:</strong> {{ post.desc }}</p>
        </div>
    {% else %}
    <h3>Error in loading item</h3>
        <p>No item information available.</p>
    {% endif %}
</div>
{% endblock %}
