<!DOCTYPE html>
<html>
    <head>
        <title>Buy Nothing: Log in</title>
    </head>
    <body>
        {{ pageElements["navbar"] | safe }}
        <h1>Log In</h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <input type="submit" value="Login" method="post">
        </form>
        <!-- TODO: Forgot my password button/link -->
        {{ pageElements["footer"] | safe }}
    </body>
</html>