{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<script src="/static/location.js"></script>
<div class="container col-sm-6 col-lg-4">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- Form header-->
        <div class="text-center">
            <h1 class="text-center">Sign up</h1>
            <small>If you already have an account you can <a href="/login">login</a></small>
        </div>
        <br>
        <!-- Form body -->
        <div class="form-group row">
            {{ form.username.label(class="col-5 col-form-label") }}
            {{ form.username(class="form-control col")}}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.email.label(class="col-5 col-form-label") }}
            {{ form.email(class="form-control col")}}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.password.label(class="col-5 col-form-label") }}
                {{ form.password(class="form-control col")}}
            </div>
            <div class="row">
                {{ form.confirmed_password.label(class="col-5 col-form-label") }}
                {{ form.confirmed_password(class="form-control col")}}
            </div>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.confirmed_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <!--Address fields-->
        <div class="form-group">
            <div class="row">
                {{ form.address_line1.label(class="col-5 col-form-label") }}
                {{ form.address_line1(class="form-control col")}}
            </div>
            <div class="row">
                {{ form.address_line2.label(class="col-5 col-form-label") }}
                {{ form.address_line2(class="form-control col")}}
            </div>
            {% for error in form.address_line1.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.address_line2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.suburb.label(class="col-form-label col") }}
            {{ form.suburb(class="form-control col")}}
            {{ form.postcode.label(class="col-form-label col") }}
            {{ form.postcode(class="form-control col")}}
        </div>
        {% for error in form.suburb.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% for error in form.postcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <div class="form-group row">
            <label class="col-form-label col col-5">State & City</label>
            <div class="col-2" style="padding: 0px 2px;">{{ form.state(class="form-control col")}}</div>
            {{ form.city(class="form-control col")}}
        </div>
        {% for error in form.state.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.lat(id="latitude") }}
        {{ form.lng(id="longitude") }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}