{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container col-sm-6 col-lg-4">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!-- Form header-->
        <div class="text-center">
            <h1 class="text-center">Sign up</h1>
            <small>If you already have an account you can <a href="/login">login</a></small>
        </div>
        <br>
        <!-- Form body -->
        <div class="form-group row">
            {{ form.username.label(class="col-5 col-form-label") }}
            {{ form.username(_class="form-control col")}}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group row">
            {{ form.email.label(class="col-5 col-form-label") }}
            {{ form.email(_class="form-control col")}}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="row">
                {{ form.password.label(class="col-5 col-form-label") }}
                {{ form.password(_class="form-control col")}}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="row">
                {{ form.confirmed_password.label(class="col-5 col-form-label") }}
                {{ form.confirmed_password(_class="form-control col")}}
                {% for error in form.confirmed_password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>
        {{ form.submit() }}
    </form>
</div>
{% endblock %}