{% extends "base.html" %}
{% block title %}{{ user.username}}'s Profile{% endblock %}
{% block content %}
<div class="container">
  <h1>User: {{ user.username }}</h1>
  <hr>
  <p>
    Lives in: {{user.address.suburb}}, {{user.address.city}}, {{user.address.state}}
  </p>
  <div class="row d-flex justify-content-center">
    {% for post in posts %}
    <div class="profile_post">
      <p>
        {{ post.author.username }} posted: <b>{{ post.item_name }}</b> at {{ post.timestamp }}
      </p>
      {% if post.images %}
      <img class="profile_post_img" src="{{ post.images.src }}">
      {%else %}
      <img class="profile_post_img" src="/static/book.jpg">
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}