{% extends "base.html" %}
{% block title %}{{ user.username}}'s Profile{% endblock %}
{% block content %}
<div class="container">
    <h1>{{ user.username }}</h1>
    <p>
        Made {{user.points}} {% if user.points != 1 %}Posts{% else %}Post{%endif%} 
        ({{user.given}} {% if user.given != 1 %}Offers{% else %}Offer{%endif%}, 
        {{user.requested}} {% if user.requested != 1 %}Requests{% else %}Request{%endif%})
    </p>
    <p>
        Lives in: {{user.address.suburb}} ({{user.address.postcode}}), {{user.address.city}}, {{user.address.state}}, {{user.address.country}}
    </p>
    {% include "displayitems.html" %}
</div>
{% endblock %}